<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moe Chaker's Personal Website</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- icons8 and images from pexels are used in this website -->
</head>

<body>
    <secion id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#section1">
                        <h1><span>M</span>oe <span>C</span>haker</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#section1" data-after="Home">Home</a></li>
                        <li><a href="#skills" data-after="About">About</a></li>
                        <li><a href="#projects" data-after="Projects">Projects</a></li>
                        <li><a href="#about" data-after="Moreinfo">Resume</a></li>
                        <li><a href="#contact" data-after="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </secion>
    <section id="section1">
        <div class="section1 container">
            <div>
                <h1>Hello,<span></span></h1>
                <h1>My Name is <span></span></h1>
                <h1>Moe Chaker <span></span></h1>
                <a href="#projects" type="button" class="cta">portfolio</a>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="skill container">
            <div class="skill-top">
                <h1 class="skill-title">About <span>Me</span></h1>
                <p>My Name is Moe Chaker. I am 21 years old. Located in Wayne County, Michigan, USA. My Dream career is
                    to become a Software Engineer at one of the tech giants, Apple, Google, Amazon, etc... and I am
                    working hard towards that. </p>
            </div>
            <div class="skill-bottom">
                <div class="skill-item">
                    <div class="icon" id="icon1">
                        <img src="https://img.icons8.com/dusk/64/000000/developer.png" />
                    </div>
                    <h2>Developer Skills</h2>
                    <p>Programming/Scripting Languages: <span>HTML5</span>, <span>CSS3</span>, <span>Javascript</span>, <span>C/C++</span>
                        <br>
                        Libraries/Frameworks/Databases:
                        <span>Bootsrap</span>-<span>Node</span>-<span>Express</span>-<span>Mongo</span>
                        <br>
                        Tools/Technologies: <span>Git</span>-<span>Github</span>-<span>Visual Studio</span>-<span>IntelliJ</span>
                        <br>
                        Currently Learning: <span>Java</span>

                    </p>
                </div>
                <div class="skill-item">
                    <div class="icon" id="icon2">
                        <img src="https://img.icons8.com/cotton/64/000000/home--v2.png" />
                    </div>
                    <h2>Self Taught</h2>
                    <p>Through these tough times that the world is going through, I decided to start teaching myself at
                        home along with going to college and so far I should say that it is going
                        really well and hopefully by the end of the quarantine I will have enough experience to secure
                        an internship or a part-time job.</p>
                </div>
                <div class="skill-item">
                    <div class="icon">
                        <img src="https://img.icons8.com/bubbles/100/000000/work.png" />
                    </div>
                    <h2>Work Experience</h2>
                    <p>Unfortunetly I have no work experience yet but I am so much looking forward to get at least an
                        internship and hopefully a part-time job before graduation. My Experience so far is exclusive to
                        the projects that I learn through (<span>Project-Based Learning</span>). </p>
                </div>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="skill-title">Recent<span> Projects</span></h1>
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 1</h1>
                        <h2>My Personal Website</h2>
                        <p>This is the first project that I did on my own and it falls under my web development skills.
                            It shows my portfolio, information about, resume, and contact information. Deployed using <span>Heroku</span>.
                            It will always be updated the more skills and experince I acquire. 
                             <br> <br>
                            <span>HTML5/CSS3/JAVASCRIPT/Node/Express</span> </p>
                    </div>
                    <div class="project-image">
                        <a href="https://github.com/moechaker/personalWebsite">
                            <img src="/images/img5.png" alt="img">
                        </a>    
                    </div>
                </div>
                <div class="project-item" >
                    <div class="project-info" id="largeInfo">
                        <h1>Project 2</h1>
                        <h2>YelpCamp</h2>
                        <p>This a full stack application built on a <span>MongoDB/Node/Express</span> stack, utilizing
                            <span>RESTful</span> architecture with <span>Bootstrap 4</span> CSS framework for styling.
                            The app performs <span>CRUD</span> operations for users, the campground and the comments.
                            These pieces are referenced within the database through various associations. Actionable
                            commands are displayed dynamically on the site (edit/delete) for campground and comments,
                            depending on a user’s authorization/ownership. User authorization and authentication in
                            place for various routes, utilizing Passport.js and related submodules.Flash messages handle
                            error and success messages to provide the visitor with feedback and improve UX. Much of the
                            code has been
                            modularized into separate pieces, including routes, middleware (session authentication), and
                            database models.
                        </p>
                    </div>
                    <div class="project-image">
                        <a href="https://github.com/moechaker/YelpCampProject">
                            <img src="/images/img7.png" alt="img">
                        </a>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 3</h1>
                        <h2>Color Guessing Game</h2>
                        <p>A color guessing game that generates random RGB values and the user has to guess the corresponding colored box that corresponds to those values. There is easy and hard option where if easy was picked the user would only have to guess between three colors and hard being six. There is an option to get new colors and play again.<br><br> <span>Javascript/HTML/CSS</p>
                    </div>
                    <div class="project-image">
                        <a href="https://github.com/moechaker/colorGuessingGame">
                            <img src="/images/img8.png" alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="images/img4.jpg" alt="image of a programmer">
                </div>
            </div>
            <div class="col-right">
                <h1 class="skill-title">More <span>Info</span></h1>
                <H2>Full Stack Web Developer</H2>
                <p>Pursuing a Bachelor's Degree in Computer Science, 2 years in so far. Working towards getting enough experience to land an internship in the summer to even gain more expreince. Technology by all means has a great positive impact on the world and changed our lives substantially into the better and I wanna be part of that change in any way possible. I have an eye for detail and appreciation for design. </p>
                <a href="files/resume.pdf" class="cta" type="button" download>Download Resume</a>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="contact container">
            <div>
                <h1 class="skill-title" id="contact-info">Contact <span>Info</span></h1>
            </div>
            <div class="contact-items">
                <a href="tel:475-475-5201" class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                    <div class="contact-info">
                        <h1>Phone</h1>
                        <h2>+1 313 475 5201</h2>
                    </div>
                </a>
                <a href="mailto:moechaker98@gmail.com" class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                    <div class="contact-info">
                        <h1>Email</h1>
                        <h2>moechaker98@gmail.com</h2>
                        <h2>moe_chaker@icloud.com</h2>
                    </div>
                </a>
                <a href="https://www.google.com/maps/place/Wayne+County,+MI/@42.2399125,-83.2909894,11z/data=!3m1!4b1!4m5!3m4!1s0x8824ca83b9959e0d:0x2c1b323c3f619cd7!8m2!3d42.2790746!4d-83.336188"
                    target="_blank" class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                    <div class="contact-info">
                        <h1>Address</h1>
                        <h2>Wayne County, Michigan, USA</h2>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1><span>M</span>oe <span>C</span>haker</h1>
            </div>
            <h2>Aspiring Software Engineer</h2>
            <div class="social-icons">
                <div class="social-icon">
                    <a href="https://www.facebook.com/moe.chaker.3" target="_blank">
                        <img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" />
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://github.com/moechaker" target="_blank">
                        <img src="https://img.icons8.com/bubbles/100/000000/github.png"/>
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://www.linkedin.com/in/mohamad-chaker-9b8aa81a6/" target="_blank">
                        <img src="https://img.icons8.com/bubbles/100/000000/linkedin.png" />
                    </a>
                </div>
            </div>
            <p>2020 Moe Chaker. Wayne County, MI, USA</p>
        </div>
    </section>
    <script src="/scripts/script.js"></script>
</body>

</html>