@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header Section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgb(31, 30, 30, 0.24);
    transition: .3s ease background-color;

}

.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul.active a:hover {
    color: crimson;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_pulse 1s ease infinite;
}

@keyframes hamburger_pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;

}

#header .hamburger.active .bar::after {
    top: 0;
}





/* End of Header Section */

#section1 {
    background-image: url(images/img2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#section1::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;

}

#section1 .section1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#section1 h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#section1 h1:nth-child(1) {
    animation-delay: 1s;
}

#section1 h1:nth-child(2) {
    animation-delay: 2s;
}

#section1 h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 3px solid crimson;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-top: 30px;
    transition: .4s ease;
    transition-property: background-color, color;
    transition: .3s ease-in-out transform;
    flex-wrap: nowrap;
}

.cta:hover {
    background-color: crimson;
    color: black;
    transform: scale(1.1);
}

#section1 h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#section1 h1:nth-child(1) span {
    background-color: crimson;
    animation-delay: .5s;
}

#section1 h1:nth-child(2) span {
    background-color: crimson;
    animation-delay: 1.5s;
}

#section1 h1:nth-child(3) span {
    background-color: white;
    animation-delay: 2.5s;
}



@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;

    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 600;
    }
}

/* skills Section */
#skills .skill {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 10px;
}

.skill-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}



#skills .skill-top p {
    font-size: 1.4rem;
    margin-top: 20px;
    line-height: 2.5rem;
    font-weight: 500;
    letter-spacing: .5rem;
}

#skills .skill-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#skills .skill-item {
    flex-basis: 80%;
    display: flex;
    /* align-items: ; */
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(images/img3.jpg);
    background-size: cover;
    margin: 15px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

#skills .skill-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}


.skill-bottom p {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.9rem;
}

.skill-item h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
}

.skill-item span {
    color: rgb(20, 173, 220);
    font-weight: 600;
}

.skill-top {
    margin-bottom: 20px;
}

.icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#icon1 {
    margin-left: 17px !important;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*---------projects---------- */

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.skill-title span {
    color: rgb(255, 0, 98);
}


.skill-top .skill-title span {
    color: rgb(255, 30, 0);
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    background-image: linear-gradient(60deg, #29323c, #485563 100%);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
}

.project-info span {
    color: rgb(20, 173, 220);
    font-weight: 600;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px
}

#projects .project-info p {
    margin-top: 10px;
    font-size: 1.3rem;
}

#projects .project-image {
    flex-basis: 50%;
    overflow: hidden;
}

.project-image img {
    transition: .3s ease transform;
}

#projects .project-image:hover img {
    transform: scale(1.1);
}

#projects {
    background-color: rgb(206, 205, 205);
}

/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 20px;
}

#about .col-right p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 2.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

#about .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 1.6rem;
    border-color: crimson;

}

#about .cta:hover {
    background-color: crimson;
    color: white;


}

.col-right h1 {
    margin-bottom: 20px;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}

.col-right span {
    color: crimson;
}

/* ------------------contact Section------------------ */
#contact {
    background-color: lightslategrey;
}

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.contact .skill-title {
    color: white;
}


#contact .contact-items {
    width: 60%;
}

#contact .contact-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 220px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 50px 0 #000000;
    transition: .1s ease box-shadow;
    color: black;
}

#contact .contact-item:hover {
    box-shadow: 0 0 5px 0 #00000000;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 600;
}

#contact-info {
    margin-top: 30px;
}

/* --------------------footer section ------------------------*/

#footer {
    background-image: linear-gradient(60deg, #29323c, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 15px;

}

#footer .social-icon {
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

#footer .social-icon img {
    filter: grayscale(1);
    transition: .3s ease filter transform;
}

#footer .social-icon img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: rgb(255, 0, 51);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}

/* .skill-top p{
    font-size: 6rem !important;
} */

/* -------------media query for Tablet-------------- */

@media only screen and (min-width:768px) {
    .cta {
        font-size: 2.5rem;
        padding: 10px 50px;
        margin-left: 20px;
    }

    h1.skill-title {
        font-size: 6rem;
    }

    .skill-top {
        height: auto;
    }

    .skill-top p {
        font-size: 2rem !important;
        line-height: 4.5rem !important;
    }

    #section1 h1 {
        font-size: 7rem;
    }

    #skills .skill-bottom .skill-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    #projects .project-item {
        flex-direction: row;
        height: 350px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-image {
        height: 100%;

    }


    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        margin-left: 60px;
    }

    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;

    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }

    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    #contact-info {
        margin-bottom: 5%;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 0;
    }

    #contact .contact-item {
        margin: 20px;
        flex-direction: column;
        padding: 10px;
        height: 200px;
    }

    #contact .contact-item .icon {
        height: 80px;
        width: 80px;
        margin-left: 5%;
    }

    #contact .contact-item .icon img {
        object-fit: contain;
    }

    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

}

@media only screen and (min-width:1200px) {
    #skills .skill-bottom .skill-item {
        flex-basis: 30%;
        margin: 1.5%;
    }

    #contact {
        padding: 0;
        height: 80vh !important;
        margin: auto;
    }

    #contact .contact {
        justify-content: center;
        align-items: center;
    }

    #contact .contact-item .contact-info {
        text-align: center;
        padding-left: 0;
    }

    #contact .contact-item .icon {
        margin: 0 auto;
    }

    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul a::after {
        display: none;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
}